 html, body {
	margin: 0;
	padding: 0;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;	
}

#params {	
	position: absolute;
	right: 100px;
	z-index: 99999;
	font-size: 13px !important;
	font-family: arial;
	color: #fff;
}

.control {
	margin-top: 10px;
	width: 250px;
}

.control-input-cont {	
	float: right;	
}

.slider {
	display: inline-block;
	width: 50px;
	vertical-align: middle;
}

.control-input {
	text-align: center;
	width: 50px !important;
	border: 0;
	color: #f6931f;
	font-weight:bold;
	font-style: arial;
	margin-left: 15px;
	border-radius: 10px;
}

.param_letter_mark {
	
}

.ui-slider-horizontal {
	width: 100px;
	height: 10px;
	background: #ccc;
}

.ui-slider-range {
	background: white;
}

.ui-slider-handle {
	width: 15px !important;
	height: 15px !important;
	background: #f95 !important;
}

.amount {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	width: 150px;
}

#rotations {
	margin-top:  15px;
}

#rotaion_params_title {
	font-size: 12px;
	font-weight: bolder;
}

#run_particle, #toggle-button {
	border: 1px solid #ccc;
	cursor: pointer;
/* 	background: #555;
	color: #fff; */
}

#Q_sign { font-size: 15px; font-weight: bold;}